@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

.cart-is-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cart-is-empty-fullscreen {
  min-height: 80vh;
}

.cart-page-full {
  margin-left: 5.25rem;
  margin-right: 15.125rem;
  margin-top: 5rem;
}

hr {
  margin-bottom: 1.25rem;
  background: #E5E5E5;
  opacity: 0.2;
}

.cart-page-full .cart-product-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.188rem;
}

.cart-page-full .cart-product-card .section1 .brand {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 1rem;
}

.cart-page-full .cart-product-card .section1 .name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 1rem;
}

.cart-page-full .cart-product-card .section1 .price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.cart-page-full .cart-product-card .section1 .attributes {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-page-full .cart-product-card .section1 .attributes:last-child {
  margin-bottom: 0;
}

.cart-page-full .cart-product-card .section1 .product-attribute-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 0.5rem;
}

.cart-page-full .cart-product-card .section1 .product-attribute-section {
  gap: 0.75rem;
}

.cart-page-full .cart-product-card .section1 .attributes .attribute-value-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.938rem;
  height: 2.813rem;
  border: 1px solid #1D1F22;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background: #fff;
}

.cart-page-full .cart-product-card .section1 .attributes .attribute-selected-text {
  background: #1D1F22;
  color: #fff;
}

.cart-page-full .cart-product-card .section1 .attributes .attribute-value-color {
  width: 2rem;
  height: 2rem;
  box-sizing: content-box;
  border: 1px solid rgb(189, 189, 189);
  opacity: 0.3;
}

.cart-page-full .cart-product-card .section1 .attributes .attribute-selected-color {
  opacity: 1;
  border: 3px ridge rgba(94, 206, 123, 1);
}

.cart-page-full .cart-product-card .section2 {
  display: flex;
  height: 18rem;
}

.cart-page-full .cart-product-card .section2 .product-image {
  width: 8.813rem;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-page-full .cart-product-card .section2 .product-image .changeImageBtns {
  position: absolute;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.cart-page-full .cart-product-card .section2 .product-image .changeImageBtns button {
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.73);
  color: #fff;
}

.cart-page-full .cart-product-card .section2 .qty {
  justify-content: space-between;
  align-items: center;
}

.cart-page-full .cart-product-card .section2 .qty .text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.cart-page-full .cart-product-card .section2 .qty button {
  width: 2.813rem;
  height: 2.813rem;
  background: none;
  border: 1px solid #757d88;
  font-size: 28px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  color: #757d88;
}

.cart-extra-details {
  margin-left: 5.25rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.cart-extra-details .tax {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart-extra-details .quantity {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.cart-extra-details .cart-total {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cart-extra-details .text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.cart-extra-details .amount {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.cart-extra-details .checkout-btn {
  width: 17.438rem;
  height: 2.688rem;
  background: #5ECE7B;
  border: none;
  color: #fff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.cart-extra-details .checkout-btn:hover {
  background: #336e43;
}

.product-outOfStock {
  position: absolute;
  margin-bottom: 3.5rem;
  margin-right: 2rem;
  width: 6rem;
}

.product-outOfStock p {
  color: rgba(141, 143, 154, 1);
}
