@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.btn-colorless {
  background: none;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
}

.sx-icon {
  width: 0.888rem;
  height: 0.366rem;
}

.notice-info {
  width: fit-content;
  padding: 1rem;
  margin-bottom: 2rem;
  background: black;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.page-header {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 160%;
  padding: 0;
  margin: 0;
}

.page-header2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 3.688rem;
}
